#banner {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/houses/stone1.jpg);
  background-size: cover;
  padding: 0px 0 110px 0;
  font-family: $main-font;
}

.banner-content {
  text-align: center; 
  color: white;
  
  h1.banner-title {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  p.banner-subtitle {
    font-size: 2rem;
  }
  
  a.btn {
    background: rgb(111, 84, 153);
    font-weight: 700;
	color: $white;
	text-decoration: none;
	text-align: center;
    margin: 20px 10px;
    border: none;
    padding: .7rem 3.5rem;
    @include border-radius(2rem);
    
    &:hover {
      background: rgba(111, 84, 153, 0.8);
    }
  }
  
  hr {
    width: 60%;
  }
}

.slogan {
  margin-top: 50px;
  text-align: center;
  
  h2 {
    font-family: "Georgia", serif;
    color: $white;
    font-size: 2.5rem;
    margin-top: 25px;
  }
  
  p {
    font-family: "Georgia", serif;
    color: $white;
    font-size: 2rem;
    margin: 75px 0px;
  }
}

.banner-arrows {
  text-align: center;
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 75px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.button {
	border: none;
	outline: none;
	border-radius: 2rem;
}