#content-3 {
  background: #2C343B;
  padding: 30px 0px;
  
  .title-container {
    text-align: center;
    h2.title {
      color: white;
    }
  }
  
  p {
    color: white;
    font-weight: 300;
  }
}