#content-2 {
  background: #586775;
  padding: 30px 0px;
  
  .title-container {
    text-align: center;
    
    h2.title {
      color: white;
    }
  }
  
  p {
    color: white;
    font-weight: 300;
  }
}