#content-1 {
  background: $dark_grey;
  padding: 2rem 0rem 6.5rem 0;
  text-align: center;
  
  .title-container {
    text-align: center;
  }
  
  .box-wrapper {
    padding: 0 2%;
    width: 31%;
    float: left;
    margin: -8rem 1% 0 1%;
  }
  
  .boxes {
    background: $white;
    @include border-radius(.35rem);
    padding: 3rem 2.5%;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
    box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);

    p {
      color: $dark_grey;
      padding: 5px;
      margin-bottom: 20px;
      font-weight: 400;
    }
    
    h2.title {
      color: $dark_grey;
      margin-bottom: 20px;
      font-weight: 700;
    }
  }
}