footer {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  font-family: $main-font;
}

.footer-left {
  height: 50px;
  text-align: center;
  
  p {
    @include vertical-align();
  }
}

.footer-right {
  height: 50px;
  text-align: center;
 
  .credit {
    @include vertical-align();
  }
}