#materials {
  background: $white;
  padding: 0rem;
  text-align: center;
  font-family: $main-font;
  
  .materials-image {
    padding: 0px;  
    
    img {
      width: 100%;
    }
  }
  
  .materials-info {
    padding: 8% 5%;
    
    .btn {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      border: none;
      padding: .3em 1.1em;
      background-color: $button-color;
      color: #ffffff;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: "PT Sans", sans-serif;
      font-size: 1.6rem;
      font-weight: bold;
      cursor: pointer;
      border-radius: 4px;
      
      &:hover {
        background-color: $button-color * .90;
      }
    }
    
    h2 {
      font-size: 2.4rem;
      font-weight: bold;
    }
    
    p {
      max-width: 480px;
      line-height: 1.6;
      margin: 1em auto;
      color: #666666;
    }
  }
  
  .materials-title {
    padding: 3rem 0rem;
    background: $dark_blue;
    font-family: "PT Sans", sans-serif;
    
    h2 {
      color: $white;
      font-size: 2rem;
      
      @include breakpoint(md) {
        font-size: 3rem;
      }
    }
  }
}