.navbar {
  margin-bottom: 50px;
  font-family: $main-font;
  color: $white;
  background: transparent;
  border: none;
  
  .navbar-header {
    
    a.navbar-brand {
      color: $white;
      font-weight: 500;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
  
  ul.navbar-right {
    padding-right: 20px;
    
    li {
      
      a {
        color: $white;
        font-family: $main-font;
        text-transform: uppercase;
        font-weight: 500;
        
        &:hover {
          color: $white * 0.80;
        }
      }
      
      a.sm-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: none;
        padding: .3em 1.1em;
        margin-top: 0.6rem;
        background-color: $button-color;
        color: #ffffff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: "PT Sans", sans-serif;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        @include border-radius(180px);
        max-width: 150px;
        text-align: center;
        
        @include breakpoint(sm) {
          max-width: 175px;
        }

        &:hover {
          background-color: $button-color * .90;
        }
      }
    }
  } // ul
} //navbar

.navbar-gallery {
  background: $dark_grey;
  @include border-radius(0);
  

  .navbar-header {
    a.navbar-brand-gallery {
      color: #FFFFFF;
      font-weight: 500;
      font-size: 1.5rem;
      text-transform: uppercase;
      float: left;
      padding: 15px 15px;
      
      &:hover {
        text-decoration: none;
      }
    }
  }

}